#logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    

}
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: bisque;
}
body{
    background-color:floralwhite;

}